{% extends"base.html.twig" %}

{% block title %}
    {{ parent() }} Bienvenue sur l’application Nos Amis les Oiseaux, leréseau des passionnés d’ornithologie
{% endblock %}

{% block body %}
    <div>
        <h1 class="page-title">{{ title }}</h1>
    </div>

    {{ include('admin/adminNav.html.twig') }}

    <div class="memberList">
            {% for user in userList %}
                <div class="memberInfo" id="member{{ loop.index }}">
                    <ul class="list-inline reminder">
                        <li class="list-inline-item">
                            <i class="fa fa-user">
                                {{ user.surname }} {{ user.name }}
                            </i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-calendar">
                                {{ user.createdOn|date('d/m/Y') }}
                            </i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-envelope">
                                {{ user.email }}
                            </i>
                        </li>
                        <li>
                            <i class="fa fa-star">
                                {{ user.reports|activities['starsGathered'] }}
                            </i>
                        </li>
                        <li class="list-inline-item" id="memberLevel{{ loop.index }}">
                            {{ user.accessLevel|account }}
                        </li>
                    </ul>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Total d'observations</th>
                            <th>En attente de validation</th>
                            <th>Dernière observation</th>
                            <th>Dernière espèce observée</th>
                            <th>Coordonnées</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                {{ user.reports|activities['validated'] }}
                            <td>
                                {{ user.reports|activities['unvalidated'] }}
                            </td>
                            <td>
                                {{ user.id|lastPublication['date'] }}
                            </td>
                            <td>
                                {{ user.id|lastPublication['bird'] }}
                            </td>
                            <td>
                                {{ user.id|lastPublication['satNav'] }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        {{ include('admin/actions.html.twig') }}
                    </div>
                </div>
            {% endfor %}
    </div>

    <div class="moreBtn">
        <button class="btn btn-success" id="memberLoadBtn" value="4" onclick="loadMore(this,'memberInfo','member')">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/adminManagement.js') }}"></script>
    <script src="{{ asset('js/loadMember.js') }}"></script>
{% endblock %}



