<span id="adminNavTrigger" onclick=offCanvas()>
    <i class="fa fa-caret-right fa-2x" aria-hidden="true" id="adminNavIcon"></i>
</span>


<div id="adminNav">
    <h3>Administration</h3>
    <ul>
        <li>
            <a href="{{ path('admin') }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('userList') }}">Liste des membres</a>
        </li>
        <li>
            <a href="{{ path('unactivated') }}">Comptes innactifs</a>
        </li>
        <li>
            <a href="{{ path('accountValidation') }}">Demandes d'accès</a>
        </li>
        <li>
            <a href="{{ path('bird') }}">Liste des espèces</a>
        </li>
    </ul>
</div>
{% block javascripts %}
    <script src="{{ asset('js/adminNav.js') }}"></script>
{% endblock %}


