<div class="headBanner">
    <i class="fa fa-caret-square-o-down" aria-hidden="true" id="adminNavBtn"  v-on:mouseover="nav = true"></i>
</div>
<div id="adminNav" v-if="nav">
    <ul v-on:mouseleave="nav= false">
        <li>
            <a href="{{ path('admin') }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('userList') }}">Liste des membres</a>
        </li>
        <li>
            <a href="{{ path('unactivated') }}">Comptes innactifs</a>
        </li>
        <li>
            <a href="{{ path('accountValidation') }}">Demandes d'accès</a>
        </li>
        <li>
            <a href="{{ path('bird') }}">Liste des espèces</a>
        </li>
        <li>
            <a href="{{ path('statistics') }}">Statistiques</a>
        </li>
    </ul>
</div>

