{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} Bienvenue sur l’application Nos Amis les Oiseaux, leréseau des passionnés d’ornithologie
{% endblock %}

{% block body %}

    <div>
    <h1 class="pageTitle">TABLEAU DE BORD</h1>
    </div>

    {{ include('admin/adminNav.html.twig') }}

    <div id="statsWrap">

        <div id="stats">
            <div class="dashboard col-sm-12">
                <div>
                    <p class="dashboardDataTitle"> Nombre d'observations</p>
                    <p class="dashboardDataStats">{{ totalReport }}</p>
                </div>

                <div>
                    <p class="dashboardDataTitle"> Ce mois-ci</p>
                    <p class="dashboardDataStats">{{ monthlyTotal }}</p>
                </div>

                <div>
                    <p class="dashboardDataTitle">Cette Année</p>
                    <p class="dashboardDataStats"> {{ yearlyTotal }}</p>
                </div>

                <div>
                    <p class="dashboardDataTitle">Moyenne quotidienne</p>
                    <p class="dashboardDataStats">{{ dailyAverage }}</p>
                </div>

                <div>
                    <p class="dashboardDataTitle">Moyenne mensuelle</p>
                    <p class="dashboardDataStats">{{ monthlyAverage }}</p>
                </div>

                <div>
                    <p class="dashboardDataTitle">Moyenne utilisateur</p>
                    <p class="dashboardDataStats">{{ averageByUser }}</p>
                </div>

                <div>
                    <p class="dashboardDataTitle">Observations par amateurs</p>
                    <p class="dashboardDataStats">{{ totalByLevel1 }}</p>
                </div>

                <div>
                    <p class="dashboardDataTitle">Observations par naturalistes</p>
                    <p class="dashboardDataStats">{{ totalByLevel2 }}</p>
                </div>
            </div>
        </div>
    </div>

    <div id="exportCsv">
        <div id="exportIcon">
            <i class="fa fa-download" aria-hidden="true"></i>
        </div>
        <a href="{{ path('exportCsv') }}" title="Cliquez pour télécharger un export au format .csv de la table des observations"> Télécharger le contenu de la table des observations </a>
    </div>

    <h2 id="homeManagement">Modifier la page d'accueil</h2>

    <div class="mostWanted" id="updateZone">
        {% for img in homeImg %}

            <div class="img admin">
                <img class="adminPreview" src="{{ asset('/naoPictures/'~img) }}">
                <span class ="imgTitle preview">{{ img|speciesFromFile }}</span>
                <button onclick="pictNum(this)" class="btn btn-outline updateHome" value="{{ loop.index }}">
                    <i class="fa fa-pencil" onclick="pictNum(this)" aria-hidden="true"></i>
                </button>
            </div>
        {% endfor %}
    </div>
    <div class="modalForm" id="modalPicture">
        <i class="fa fa-times" onclick="hide('modalPicture')"></i>
        {{ form_start(form) }}
        <div class="form-group col-sm-12">
            {{ form_label(form.species) }}
            {{ form_widget(form.species) }}
        </div>
        <div class="form-group col-sm-12">
            {{ form_label(form.picture) }}
            {{ form_widget(form.picture) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.pictNum, { 'id':'pictRef','attr':{'value': ' ' }}) }}
            <button class="btn btn-success" type="submit">Valider</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/updateHomePicture.js') }}"></script>
{% endblock %}

