{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Bienvenue sur l’application Nos Amis les Oiseaux, leréseau des passionnés d’ornithologie
{% endblock %}

{% block body %}
<div>
    <h1 class="pageTitle">LISTE DES ESPECES</h1>
</div>

{{ include('admin/adminNav.html.twig') }}

<div class="birdList">
    {% for key, seenNtimes in reportedBird %}
    <div class="birdInfo" id="bird{{ loop.index }}">
        <ul class="list-inline reminder">
            <li class="list-inline-item">
                {{ key|statistics['bird']|species }}
            </li>
            <li class="list-inline-item">
                <i class="fa fa-binoculars" aria-hidden="true">
                    {{ seenNtimes }}
                </i>
            </li>
        </ul>

        <div class="birdData col-sm-12">
            <div>
                <p class="birdDataTitle">Nombre de spécimens</p>
                <p class="birdDataStats">{{ key|statistics['population'] }}</p>
            </div>

            <div>
                <p class="birdDataTitle">Spécimens par observation</p>
                <p class="birdDataStats">{{ key|statistics['avgByReport'] }}</p>
            </div>

            <div>
                <p class="birdDataTitle">Dernière observation</p>
                <p class="birdDataStats">{{ key|lastReported['date'] }}</p>
            </div>

            <div>
                <p class="birdDataTitle">Coordonnées</p>
                <p class="birdDataStats {{ key|lastReported['satNav']|length > 25 ? 'shrink' }}">{{ key|lastReported['satNav'] }}</p>
            </div>
        </div>

        <div class="mapTrigger">
            <i class="fa fa-plus" aria-hidden="true" onclick="showHideBirdMap('birdStatMap{{ loop.index }}',this)"></i>
        </div>


        <div id="birdStatMap{{ loop.index }}" class="gBird">
            {% for report in key|birdLocation if report.validated == 1 %}
                <input type="hidden" id="reportMapSatNav{{ loop.index }}" class="birdLocation_{{ report.bird.id }}" value="{{ report.satNav }}">
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    <div class="moreBtn">
        <button class="btn btn-success" id="birdLoadBtn" value="4" onclick="loadMore(this,'birdInfo','bird')">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>

</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script async defer src="{{ asset('js/loadBird.js') }}"></script>
    <script async defer src="{{ asset('js/birdMap.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcUhS0gzRBMh-V_lIwHotjxGbMFQHCczg&callback=initMap"
            type="text/javascript"></script>
{% endblock %}


