{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Bienvenue sur l’application Nos Amis les Oiseaux, leréseau des passionnés d’ornithologie
{% endblock %}

{% block body %}
    <div onload="initMap()">
        {{ form_start(form, {'attr':{'id':'reportForm'}}) }}
        <div class="form-group">
            {{ form_label(form.bird) }}
            {{ form_widget(form.bird) }}
        </div>
        <div class="form-group">
            {{ form_label(form.nbrOfBirds) }}
            {{ form_widget(form.nbrOfBirds) }}
        </div>
        <div class="form-group">
            {{ form_label(form.addedOn) }}
            {{ form_widget(form.addedOn) }}
        </div>
        <div class="form-group">
            {{ form_label(form.location) }}
            {{ form_widget(form.location) }}
            <a class="btn btn-outline" id="localize" onclick="localizeMe()">Me Géolocaliser</a>
        </div>
        <div class="form-group">
            {{ form_label(form.comment) }}
            {{ form_widget(form.comment) }}
        </div>
        <div>
            {{ form_label(form.pictRef) }}
            {{ form_widget(form.pictRef) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.satNav) }}
            <button class="btn btn-success" type="submit">Valider</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('vueJs/ux.js') }}"></script>
    <script src={{ asset('js/localisation.js') }}></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcUhS0gzRBMh-V_lIwHotjxGbMFQHCczg&callback=initMap"
            type="text/javascript"></script>
{% endblock %}