{% extends"base.html.twig" %}

{% block title %}
    {{ parent() }} Bienvenue sur l’application Nos Amis les Oiseaux, leréseau des passionnés d’ornithologie
{% endblock %}

{% block body %}
    <div>
        <h1>Liste des Membres</h1>
    </div>

    {{ include('adminNav.html.twig') }}
    <div class="memberList">
        <table class="table">
            <thead>
                <tr>
                    <th><i class="material-icons">person</i></th>
                    <th><i class="material-icons">date_range</i></th>
                    <th><i class="material-icons">info_outline</i></th>
                </tr>
            </thead>
            <tbody>
            {% for user in userList %}
                <tr>
                    <td>
                        {{ user.surname }} {{ user.name }}
                    </td>
                    <td>
                        {{ user.createdOn|date('d/m/Y') }}
                    </td>
                    <td>
                        <i class="material-icons">add</i>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="accountDetails">
                            <span class="accountScore">
                                <i class="material-icons">grade</i>
                                todo
                            </span>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                   Adresse email: {{ user.email }}
                                </li>
                                <li class="list-inline-item">
                                    Type de compte: {{ user.accessLevel|account }}
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        {{ include('actions.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


