{% extends"base.html.twig" %}

{% block title %}
    {{ parent() }} Bienvenue sur l’application Nos Amis les Oiseaux, leréseau des passionnés d’ornithologie
{% endblock %}

{% block body %}
    <div>
        <h1>Liste des Membres</h1>
    </div>

    {{ include('adminNav.html.twig') }}
    <div class="memberList">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th><i class="material-icons">person</i></th>
                    <th><i class="material-icons">date_range</i></th>
                    <th><i class="material-icons">info_outline</i></th>
                </tr>
            </thead>
            <tbody>
            {% for user in userList %}
                {% for key, report in lastReport|keys %}
                <tr>
                    <th>
                        {{ user.surname }} {{ user.name }}
                    </th>
                    <th>
                        {{ keys.report.id}}
                    </th>
                    <th>
                        <i class="material-icons">add</i>
                    </th>
                </tr>
                    {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}