{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} Bienvenue sur l’application Nos Amis les Oiseaux, leréseau des passionnés d’ornithologie
{% endblock %}

{% block body %}

    <div>
    <h1 class="pageTitle">Espace d'administration</h1>
    </div>

    {{ include('adminNav.html.twig') }}

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre total de membres</th>
                    <th>Comptes naturalistes</th>
                    <th>Comptes amateurs</th>
                    <th>En ligne</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ maxLevel + minLevel }}</td>
                    <td>{{ maxLevel}}</td>
                    <td>{{ minLevel}}</td>
                    <td> todo </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h2>Modifier la page d'accueil</h2>
        {% for img in homeImg %}

            <div class="img" >
                <img src="{{ asset('/naoPictures/'~img) }}">
                <span class ="imgTitle">{{ img|speciesFromFile }}</span>
                <button v-on:click="pictNumber({{ loop.index }},$event)" class="btn btn-outline" value="{{ loop.index }}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
            </div>
        {% endfor %}
    </div>
    <div v-show="seen">
        <i v-on:click="close" class="material-icons">close</i>
        {{ form_start(form) }}
        <div class="form-group col-sm-6">
            {{ form_label(form.species) }}
            {{ form_widget(form.species) }}
        </div>
        <div class="form-group col-sm-6">
            {{ form_label(form.picture) }}
            {{ form_widget(form.picture) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.pictNum, { 'id':'pictRef','attr':{'value': ' ' }}) }}
            <button class="btn btn-success" type="submit">Valider</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
