<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}NAO{% endblock %}
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Rubik" rel="stylesheet">
        <link rel="shortcut icon" type="image/png"  href={{ asset("favicon.ico") }}>
        <script src="https://use.fontawesome.com/707b54fdb6.js"></script>
        {% block stylesheets %}
            <link href="{{ asset("css/naoStyle.css") }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
    <div class="d-flex flex-column" id="wrapper">
        <div class="container-fluid">
            <nav class="navbar fixed-top">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <i class="material-icons">home</i>
                    NAO
                </a>
                <div class="search-bar" id="search" onclick="searchWidth()">
                    {{ form_start(search.createSearch,{'action': path('search')}) }}
                    {{ form_end(search.createSearch) }}
                </div>
                {% if  not is_granted('ROLE_USER') %}
                    <div class="navbar-nav ml-auto" id="connection">
                        <a class="btn btn-default" href="{{ path('register') }}">Inscription</a>
                        <a class="btn btn-outline" href="{{ path('login') }}">Connexion</a>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <div class="navbar-nav ml-auto">
                        <i class="fa fa-user-circle-o" aria-hidden="true"  id="accountBadge" onmouseover="show('dashboard')"></i>
                    </div>
                    <div id="dashboard">
                        <ul onmouseleave="hide('dashboard')">
                            <li>
                                <a href="{{ path('logout') }}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    Se déconnecter
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('home') }}">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    Accueil
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('report',{'state' : 'valide'}) }}">
                                    <i class="fa fa-binoculars" aria-hidden="true"></i>
                                    Observations
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('addReport') }}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    Nouvelle Observation
                                </a>
                            </li>
                            {% if is_granted('ROLE_VALIDATOR') and app.user.onHold == 0 %}
                                <li>
                                    <a href="{{ path('report',{'state' : 'en-attente-de-validation'}) }}">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        En attente de validation
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('profile', {'name' :app.user.name|specChars,'surname' :app.user.surname|specChars, 'id' :app.user.id}) }}">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    Mon profil
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('notification') }}">
                                    <i class="fa fa-bell" aria-hidden="true">
                                        <span id="totalNotif">{{ ' '|countNotif|join('|') }}</span>
                                    </i>
                                    Notification
                                </a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('admin') }}">
                                        <i class="fa fa-unlock" aria-hidden="true"></i>
                                        Espace d'administration
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </nav>
        </div>

        <main class="container-fluid py-3 w-100" id="app">

            {% for label, messages in app.flashes(['denied','error','success','warning','welcome']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" style="font-size: 5em">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}

            {% endblock %}

        </main>
        <footer class="container-fluid w-100">
            <div class="row my-4">
                <ul class="list-group col-lg-4" id="naoList">
                    <li class="list-title mb-3">
                        Nos amis les oiseaux
                    </li>
                    <li>
                        <a href="{{ path('aboutUs') }}#about">Qui sommes nous?</a>
                    </li>
                    <li>
                        <a href="{{ path('aboutUs') }}#contactUs">Nous contacter</a>
                    </li>
                </ul>
                <div class="social col-lg-4 mb-4">
                    <h4 class="mb-5">Suivez-nous</h4>
                    <ul class="list-unstyled d-flex justify-content-center">
                        <li>
                            <i class="fa fa-twitter mx-2" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-facebook mx-2" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-google mx-2" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-instagram mx-2" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
                <ul class="list-group col-lg-4" id="moreInfo">
                    <li class="list-title mb-3">
                        Plus d'infos
                    </li>
                    <li>
                        <a href="{{ path('aboutUs') }}#partnerShip">Nos partenaires</a>
                    </li>
                    <li>
                        <a href="{{ path('terms') }}">Conditions générales d'utilisation</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
        {% block javascripts %}
            <script src="{{ asset('js/emilLibrary.js') }}"></script>
            <script src="{{ asset('js/navBar.js') }}"></script>
        {% endblock %}
    </body>
</html>

