{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} Bienvenue sur l’application Nos Amis les Oiseaux, leréseau des passionnés d’ornithologie
{% endblock %}


{% block body %}

    <div>
       <h1 class="pageTitle">Mon profil</h1>
    </div>

    <div class="headBanner">
        <h2>{{ app.user.name }} {{ app.user.surname }}</h2>
        <span class="accountScore"><i class="material-icons">grade</i>{{ score }}</span>
        <div>
            <ul class="list-inline">
                <li class="list-inline-item">
                    Adresse email: {{ app.user.email }}
                </li>
                <li class="list-inline-item">
                    Type de compte: {{ accountType }}
                </li>
                <li class="list-inline-item">
                    inscript depuis le: {{ createdOn }}
                </li>
            </ul>
        </div>
        <div id="app">
            <button v-on:click="show">Show Modal</button>
        </div>
    </div>
    <div id="pswdModal" style="display: none">
            {{ form_start(changePswd, {'attr':{'id':'changePswd'}}) }}
            <div class="form-group">
                {{ form_label(changePswd.currentPswd) }}
                {{ form_widget(changePswd.currentPswd) }}
            </div>
            <div>
                {{ form_label(changePswd.pswd) }}
                {{ form_widget(changePswd.pswd) }}
            </div>
            <div>
                {{ form_label(changePswd.confirmPswd) }}
                {{ form_widget(changePswd.confirmPswd) }}
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Valider</button>
            </div>
            {{ form_end(changePswd) }}
    </div>
    <div id="charts">
       <div id="chartIcon">
           <i class="fa fa-line-chart" aria-hidden="true"></i>
       </div>
       <div>
           <table class="table .table-responsive">
               <thead>
               <tr>
                   <th>Total d'observations</th>
                   <th>En attente de validation</th>
                   <th>Dernière observation</th>
                   <th>Dernière espèce observée</th>
                   <th>Coordonées</th>
               </tr>
               </thead>
               <tbody>
               <tr>
                   <td>{{ published }}</td>
                   <td>{{ unvalidated }}</td>
                   <td>{{ addedOn }}</td>
                   <td>{{ bird }}</td>
                   <td>{{ satNav }}</td>
               </tr>
               </tbody>
           </table>
       </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vueJs/profile.js') }}"></script>
{% endblock %}