{% extends 'base.html.twig' %}

{% block title %}
     NAO c’est aussi un partenariat solide avec
{% endblock %}

{% block entryMetaDescription %}
    NAO remercie tous ses partenaires et collaborateurs.
{% endblock %}

{% block body %}
    <div id="about">
        <h1 class="pageTitle">NAO, QUI SOMMES-NOUS ?</h1>
    </div>

    <div id="aboutUs">
        <div class="aboutNao">
            <h2>Notre histoire</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in volutpat ipsum.Donec nec aliquam nibh,
                eget pellentesque elit. Donec tempus cursus enim, nec mattis sapien gravida eu. Sed commodo velit sodales,
                bibendum dolor vitae, faucibus sem. Proin enim urna, imperdiet nec nisi nec, vulputate viverra felis.
                Proin dignissim, massa eget tristique gravida,risus orci consequat quam, ut ornare arcu urna malesuada justo.
                Fusce nec tortor in nulla eleifend molestie quis quis sem.<br>
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque vulputate eros ultrices dui varius ornare.
                Nam cursus rhoncus lectus quis volutpat. Sed tristique nisi lorem, vitae hendrerit tortor cursus quis. Ut consectetur ac
                dolor sit amet pellentesque.<br>
        </div>
        <div class="aboutNao">
            <h2>Nos missions</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in volutpat ipsum.Donec nec aliquam nibh,
                eget pellentesque elit. Donec tempus cursus enim, nec mattis sapien gravida eu. Sed commodo velit sodales,
                bibendum dolor vitae, faucibus sem. Proin enim urna, imperdiet nec nisi nec, vulputate viverra felis.
                Proin dignissim, massa eget tristique gravida,risus orci consequat quam, ut ornare arcu urna malesuada justo.
                Fusce nec tortor in nulla eleifend molestie quis quis sem.<br>
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque vulputate eros ultrices dui varius ornare.
                Nam cursus rhoncus lectus quis volutpat. Sed tristique nisi lorem, vitae hendrerit tortor cursus quis. Ut consectetur ac
                dolor sit amet pellentesque.<br>
            </p>
        </div>
    </div>
    <div id="partnership">
        <h2>Nos partenaires</h2>
        <div>
            <ul class="list-inline partners">
                <li class="list-inline-item">
                    <a href="https://openclassrooms.com/" title="Cliquer pour visiter openclassrooms.com un partenaire Nao">
                        <img src="{{ asset('appPictures/partners/oc.png') }}" alt="openClassrooms partenaire NAO">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/EmilienLetestu/naoReboot" title="Cliquer pour visiter github.com un partenaire Nao">
                        <img src="{{ asset('appPictures/partners/github.png') }}" alt="github partenaire NAO">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.natureetdecouvertes.com/" title="Cliquer pour visiter natureetdecouvertes.com un partenaire Nao">
                       <img src="{{ asset('appPictures/partners/nature.png') }}" alt="nature et découvertes partenaire NAO">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="contact" oninput="disable('contactBtn','contactForm')">
        <h2 id="contactUs">Nous contacter</h2>
        <div>
            {{ form_start(form,{'attr':{'id':'contactForm'}}) }}
            <div id="senderInfo">
                <div class ="form-group-row">
                    {{ form_widget(form.fullname,{'attr':{'onkeyup':'validateText("contact_fullname",10,45,"fullnameError")'}}) }}
                    {{ form_errors(form.fullname) }}
                    <span class="checked inlineIcon"><i class="fa fa-check"></i></span>
                    <span id="fullnameError" class="form-control-feedback noError">10 à 45 signes maximum</span>
                </div>
                <div class ="form-group-row">
                    {{ form_widget(form.email,{'attr':{'onkeyup':'validateMail("contact_email","contactMailError")'}}) }}
                    {{ form_errors(form.email) }}
                    <span class="checked inlineIcon"><i class="fa fa-check"></i></span>
                    <span id="contactMailError" class="form-control-feedback noError">Veuillez fournir un e-mail valide</span>
                </div>
                <div class ="form-group-row">
                    {{ form_widget(form.subject,{'attr':{'onkeyup':'validateOptionalText("contact_subject",5,50,"contactSubjectError")'}} ) }}
                    {{ form_errors(form.subject) }}
                    <span class="checked inlineIcon"><i class="fa fa-check"></i></span>
                    <span id="contactSubjectError" class="form-control-feedback noError">5 à 50 signes maximum</span>
                </div>
            </div>
                <div class ="form-group-row">
                    {{ form_widget(form.message,{'attr':{'cols':'180', 'rows':'10', 'onkeyup':'validateTextArea("contact_message",5,100,"contactMsgError","contactWords")'}}) }}
                    {{ form_errors(form.message) }}
                    <span id="contactWords" class="wordCount">0/100</span>
                    <span class="checked textareaIcon"><i class="fa fa-check"></i></span>
                    <span id="contactMsgError" class="form-control-feedback noError">Entre 5 et 100 mots maximum</span>
                </div>
                <div class="form-group-row send">
                    <button class="btn btn-success" type="submit" id="contactBtn" disabled="disabled">Valider</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/validateForm.js') }}"></script>
{% endblock %}
