{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Bienvenue sur l’application Nos Amis les Oiseaux, leréseau des passionnés d’ornithologie
{% endblock %}

{% block body %}
    <div onload="initMap()" onkeyup="disable('reportBtn','reportForm')">
        {{ form_start(form, {'attr':{'id':'reportForm'}}) }}
        <div class="form-group">
            {{ form_label(form.bird) }}
            {{ form_widget(form.bird) }}
        </div>
        <div class="form-group">
            {{ form_label(form.nbrOfBirds) }}
            {{ form_widget(form.nbrOfBirds, {'attr':{'min':1,'max':30}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.addedOn) }}
            {{ form_widget(form.addedOn) }}
        </div>
        <div class="form-group">
            {{ form_label(form.location) }}
            {{ form_widget(form.location) }}
            <a class="btn btn-outline" id="localize" onclick="localizeMe()">Me Géolocaliser</a>
        </div>
        <div class="form-group" onkeyup="liveCharCount('report_comment','charMeter',300)">
            {{ form_label(form.comment) }}
            {{ form_widget(form.comment, {'attr':{'onkeyup' : 'validateText("report_comment",0,300,"commentError")'}}) }}
            <span id="charMeter" class="wordCount">0/300</span>
            <div id="commentError" class="form-control-feedback noError"> signes maximum</div>
        </div>
        <div>
            {{ form_label(form.pictRef) }}
            {{ form_widget(form.pictRef) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.satNav) }}
            <button id="reportBtn" class="btn btn-success" type="submit" disabled="disabled">Valider</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src={{ asset('js/localisation.js') }}></script>
    <script src={{ asset('js/validateForm.js') }}></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcUhS0gzRBMh-V_lIwHotjxGbMFQHCczg&callback=initMap"
            type="text/javascript"></script>
{% endblock %}
