{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Bienvenue sur l’application Nos Amis les Oiseaux, leréseau des passionnés d’ornithologie
{% endblock %}

{% block body %}

    <div>
        <h1 class="pageTitle"> NOUVELLE OBSERVATION</h1>
    </div>

    <div onload="initMap()" oninput="disable('reportBtn','reportForm')">
        {{ form_start(form, {'attr':{'id':'reportForm'}}) }}
        <div class="form-group">
            {{ form_label(form.bird) }}
            {{ form_widget(form.bird) }}
            {{ form_errors(form.bird) }}
        </div>
        <div class="form-group">
            {{ form_label(form.nbrOfBirds) }}
            {{ form_widget(form.nbrOfBirds, {'attr':{'min':1,'max':30, 'oninput': 'validateInteger("report_nbrOfBirds",1,30,"integerError")'}}) }}
            <span class="checked"><i class="fa fa-check" aria-hidden="true"></i></span>
            <div id="integerError" class="form-control-feedback noError">Entrez un nombre entre 1 et 30</div>
            {{ form_errors(form.nbrOfBirds) }}
        </div>
        <div class="form-group">
            {{ form_label(form.addedOn) }}
            {{ form_widget(form.addedOn) }}
            {{ form_errors(form.addedOn) }}
        </div>
        <div class="form-group">
            {{ form_label(form.location) }}
            {{ form_widget(form.location, {'attr':{'placeholder':'coordonnées gps, lieu ou me géolocaliser'}}) }}
            {{ form_errors(form.location) }}
            <a class="btn btn-outline" id="localize" title="Me géolcaliser / trouver" onclick="localizeMe()">
                <i class="fa fa-map-pin" aria-hidden="true"></i>
            </a>
        </div>
        <div class="form-group" onkeyup="liveCharCount('report_comment','charMeter',300)">
            {{ form_label(form.comment) }}
            {{ form_widget(form.comment, {'attr':{'onkeyup' : 'validateOptionalText("report_comment",0,300,"commentError")'}}) }}
            <span id="charMeter" class="wordCount">0/300</span>
            <span class="checked"><i class="fa fa-check" aria-hidden="true"></i></span>
            <div id="commentError" class="form-control-feedback noError"> 300 signes maximum</div>
            {{ form_errors(form.comment) }}
        </div>
        <div>
            {{ form_label(form.pictRef) }}
            {{ form_widget(form.pictRef, {'attr':{'onchange' : 'fileType("report_pictRef")'}}) }}
            {{ form_errors(form.pictRef) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.satNav) }}
            <button id="reportBtn" class="btn btn-success" type="submit" disabled="disabled">Valider</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src={{ asset('js/localisation.js') }}></script>
    <script src={{ asset('js/validateForm.js') }}></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcUhS0gzRBMh-V_lIwHotjxGbMFQHCczg&callback=initMap"
            type="text/javascript"></script>
{% endblock %}
