{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} Découvrez les derniers oiseaux observés par nos membres
{% endblock %}

{% block entryMetaDescription %}
    {{ parent() }} Chaque jour nos ornithologues nous aident à recenser les espèces d’oiseaux qui peuplent les espaces naturels français, alors inscrivez-vous et aidez-nous dans notre mission de sauvegarde de la biodiversité !
{% endblock %}

{% block body %}


    <div>
        <h1 class="pageTitle">{{ title|upper }}</h1>
    </div>

    <div id="browseFilter">
        {{ form_start(filter,{'attr':{'id':'filterForm'}}) }}
        <div class="form-group">
            {{ form_widget(filter.order) }}
        </div>
        <div class="form-group">
            {{ form_widget(filter.bird) }}
        </div>
        <div class="form-group">
            <button  class="btn btn-success" id="filterSubmit" type="submit" ><i class="fa fa-search"></i></button>
            <a class="btn btn-danger" id="resetFilter" href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}">
                <i class="fa fa-undo"></i>
            </a>
        </div>
        {{ form_end(filter) }}
    </div>

    <div class="cardHolder col-sm-12" id="browseCard">
        {% for report in reports %}
            {{ include('nao/reportCard.html.twig') }}
            <input type="hidden"  class="locations" value="{{ report.satNav }}">
        {% endfor %}
    </div>

    <div class="moreBtn short col-sm-12">
        <button class="btn btn-success" id="browserLoadBtn" value="6" onclick="loadMore(this,'card','reportCard')">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/loadReport.js') }}"></script>
    <script src="{{ asset('js/reportMap.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcUhS0gzRBMh-V_lIwHotjxGbMFQHCczg"
            type="text/javascript"></script>
{% endblock %}

