{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} Découvrez les derniers oiseaux observés par nos membres
{% endblock %}

{% block body %}


    <div>
        <h1 class="pageTitle">{{ title }}</h1>
    </div>

    <div class="filter">
        <i class="material-icons" v-on:mouseover="filter = true" v-show ="!filter">keyboard_arrow_down</i>
            {{ form_start(filter, {'attr':{'class' : 'form-inline','v-show' : 'filter'}}) }}
            <div class="form-group-row">
                {{ form_widget(filter.order) }}
            </div>
            <div>
                {{ form_widget(filter.bird) }}
            </div>
            <div class="form-group-row">
                <i class="material-icons" v-on:click="filter = false">close</i>
                <button class="btn btn-success" type="submit">Valider</button>
            </div>
            {{ form_end(filter) }}
      </div>

    <div id ="map"></div>
    {# bug
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre de spécimens</th>
                    <th>Spécimens par observation</th>
                    <th>Dernière observation</th>
                    <th>Coordonnées</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>
    </div>
    #}
    <div class="cardHolder">
        {% for report in reports %}
            <input type="hidden"  class="locations" value="{{ report.satNav }}">
            {{ include('nao/reportCard.html.twig') }}
        {% endfor %}
    </div>

    <div>
        <button class="btn btn-success" id="browserLoadBtn" value="6">Plus d'observations</button>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/reportMap.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcUhS0gzRBMh-V_lIwHotjxGbMFQHCczg"
            type="text/javascript"></script>
{% endblock %}

