{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} Bienvenue sur l’application Nos Amis les Oiseaux, leréseau des passionnés d’ornithologie
{% endblock %}

{% block body %}



    <div>
        <h1 class="pageTitle">Observations</h1>
    </div>

    <div class="filter">
        <i class="material-icons" v-on:mouseover="filter = true" v-show ="!filter">keyboard_arrow_down</i>
            {{ form_start(filter, {'action': path('search'),'attr':{'class' : 'form-inline','v-show' : 'filter'}}) }}
            {% if is_granted('ROLE_VALIDATOR') %}
            <div class="form-group-row">
                {{ form_widget(filter.route) }}
            </div>
            {% endif %}
            <div class="form-group-row">
                {{ form_widget(filter.order) }}
            </div>
            <div>
                {{ form_widget(filter.bird) }}
            </div>
            <div class="form-group-row">
                <i class="material-icons" v-on:click="filter = false">close</i>
                <button class="btn btn-success" type="submit">Valider</button>
            </div>
            {{ form_end(filter) }}
      </div>

    <div class="cardHolder">
        {% for report in reports %}
            {{ include('nao/reportCard.html.twig') }}
        {% endfor %}
    </div>

{% endblock %}

