{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} Bienvenue sur l’application Nos Amis les Oiseaux, leréseau des passionnés d’ornithologie
{% endblock %}

{% block body %}

    <div>
        <h1 class="pageTitle">{{ app.request.get('_route')|title }}</h1>
    </div>

    {% if app.request.get('_route') == 'login' %}
        <div class="connectionForms">
            {% if error %}
                <div class="alert alert-warning">{{ error.message }}</div>
            {% endif %}
            <form action="{{ path('login_check') }}" method="post" v-on:submit="validateLogin">
                <div class="form-group"  v-bind:class="{ 'has-warning': 'submit && missingEmail' }">
                    <label for="username">Email</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" v-model="email"/>
                    <div class="form-control-feedback" v-if="submit && missingEmail">Veuillez fournir un e-mail</div>
                </div>
                <div class="form-group" v-bind:class="{ 'has-warning': 'submit && missingPswd' }">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="_password" class="form-control"  v-model="pswd"/>
                    <div class="form-control-feedback" v-if="submit && missingPswd">Le mot de passe doit contenir entre 6 et 30 caractères</div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="remember_me" name="_remember_me" checked />
                    <label for="remember_me">Se souvenir de moi</label>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Valider</button>
                    <a id="forgottenPswd" href="{{ path('askNewPswd') }}">Mot de passe oublié</a>
                </div>
            </form>
        </div>
    {% endif %}

    {% if app.request.get('_route') == 'register' %}
        <div class="connectionForms">
            {{ form_start(form, {'attr':{'id':'registerForm', 'v-on:submit':'validateRegister' }}) }}
            <div class="form-group" v-bind:class="{ 'has-warning': 'submit && missingName' }">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, { 'attr': { 'v-model': 'name' } }) }}
                <div class="form-control-feedback" v-if="submit && missingName">Le prénom doit contenir 3 lettres minimum</div>
            </div>
            <div class="form-group" v-bind:class="{ 'has-warning': 'submit && missingSurname' }">
                {{ form_label(form.surname) }}
                {{ form_widget(form.surname, { 'attr': { 'v-model': 'surname' } }) }}
                <div class="form-control-feedback" v-if="submit && missingSurname">Le nom doit contenir 3 lettres minimum</div>
            </div>
            <div class="form-group" v-bind:class="{ 'has-warning': 'submit && missingEmail' }">
                {{ form_label(form.email) }}
                {{ form_widget(form.email,  { 'attr': { 'v-model': 'email' } }) }}
                <div class="form-control-feedback" v-if="submit && missingEmail">Veuillez fournir un e-mail</div>
            </div>
            <div class="form-group" v-bind:class="{ 'has-warning': 'submit && missingPswd' }">
                {{ form_label(form.pswd) }}
                {{ form_widget(form.pswd, { 'attr': { 'v-model': 'pswd' } }) }}
                <div class="form-control-feedback" v-if="submit && missingPswd">Le mot de passe doit contenir entre 6 et 30 caractères</div>
            </div>
            <div class="form-group">
                {{ form_label(form.accessLevel) }}
                {{ form_widget(form.accessLevel) }}
            </div>
            <div>
                {{ form_label(form.termsAgreement) }}
                {{ form_widget(form.termsAgreement) }}
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Valider</button>
            </div>
            {{ form_end(form) }}
        </div>
    {% endif %}

    {% if app.request.attributes.get('_route') == 'askNewPswd' %}
        <div class="connectionForms pswdForm">
            {{ form_start(form, {'attr':{'id':'askResetForm'}}) }}
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Valider</button>
            </div>
            {{ form_end(form) }}
        </div>
    {% endif %}

    {%if app.request.attributes.get('_route') == 'resetPswd' %}
        <div class="connectionForms pswdForm">
            {{ form_start(form, {'attr':{'id':'resetForm', 'v-on:submit':'validateResetPswd'}}) }}
            <div class="form-group" v-bind:class="{ 'has-warning': 'submit && missingPswd' }">
                {{ form_label(form.pswd) }}
                {{ form_widget(form.pswd, { 'attr': { 'v-model': 'pswd' } }) }}
                <div class="form-control-feedback" v-if="submit && missingPswd">Le mot de passe doit contenir entre 6 et 30 caractères</div>
            </div>
            <div class="form-group" v-bind:class="{ 'has-warning': 'submit && matchLess' }">
                {{ form_label(form.confirmPswd) }}
                {{ form_widget(form.confirmPswd, { 'attr': { 'v-model': 'confirmPswd' } }) }}
                <div class="form-control-feedback" v-if="submit && matchLess">Les mots de passes ne correspondent pas</div>
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Valider</button>
            </div>
            {{ form_end(form) }}
        </div>
    {% endif %}

{% endblock %}

