{% extends "base.html.twig" %}

{% block title %}
     Bienvenue sur l’application Nos Amis les Oiseaux, leréseau des passionnés d’ornithologie
{% endblock %}

{% block body %}

    <div>
        <h1 class="pageTitle">{{ app.request.get('_route')|title }}</h1>
    </div>

    {% if app.request.get('_route') == 'login' %}
        <div class="connectionForms" onkeyup="disable('loginBtn','loginForm')">
            {% if error %}
                <div class="alert alert-warning" id="loginFailed">{{ error.message }}</div>
            {% endif %}
            <form action="{{ path('login_check') }}" method="post" id="loginForm">
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" onkeyup="validateMail('username','usernameError')"/>
                    <span class="checked"><i class="fa fa-check"></i></span>
                    <span id="usernameError" class="form-control-feedback noError">Veuillez fournir un e-mail</span>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="_password" required="required" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="remember_me" name="_remember_me" checked />
                    <label for="remember_me">Se souvenir de moi</label>
                    <a id="forgottenPswd" class="pull-right" href="{{ path('askNewPswd') }}">Mot de passe oublié ?</a>
                </div>
                <div class="form-group">
                    <button id="loginBtn" class="btn btn-success" type="submit">Valider</button>
                </div>
            </form>
        </div>
    {% endif %}

    {% if app.request.get('_route') == 'register' %}
        <div class="connectionForms" onkeyup="disable('registerBtn','registerForm')">
            {{ form_start(form, {'attr':{'id':'registerForm'}}) }}
            <div class="form-group">
                {{ form_label(form.name) }}<span class="req">*</span>
                {{ form_widget(form.name, { 'attr': { 'onkeyup' : 'validateText("register_name",3,30,"nameError")'} }) }}
                <span class="checked"><i class="fa fa-check"></i></span>
                <span id="nameError" class="form-control-feedback noError">Le prénom doit contenir entre 3 et 30 lettres</span>
                {{ form_errors(form.name) }}
            </div>
            <div class="form-group">
                {{ form_label(form.surname) }}<span class="req">*</span>
                {{ form_widget(form.surname, { 'attr': { 'onkeyup' : 'validateText("register_surname",3,60,"surnameError")' } }) }}
                <span class="checked"><i class="fa fa-check"></i></span>
                <span id="surnameError" class="form-control-feedback noError">Le nom doit contenir entre 3 et 30 lettres</span>
                {{ form_errors(form.surname) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email) }}<span class="req">*</span>
                {{ form_widget(form.email,  { 'attr': { 'onkeyup': 'validateMail("register_email","emailError")' } }) }}
                {{ form_errors(form.email) }}
                <span class="checked"><i class="fa fa-check"></i></span>
                <span id="emailError" class="form-control-feedback noError">Veuillez fournir un e-mail valide</span>
                {{ form_errors(form.email) }}
            </div>
            <div class="form-group">
                {{ form_label(form.pswd) }}<span class="req">*</span>
                {{ form_widget(form.pswd, { 'attr': { 'onkeyup': 'validatePswd("register_pswd",6,30,"pswdError")' } }) }}
                <span class="checked"><i class="fa fa-check"></i></span>
                <span id="pswdError" class="form-control-feedback noError">De 6 à 30 caractères et au moins 1 lettre</span>
                {{ form_errors(form.pswd) }}
            </div>
            <div class="form-group">
                {{ form_label(form.accessLevel) }}
                {{ form_widget(form.accessLevel) }}
            </div>
            <div>
                {{ form_label(form.termsAgreement) }}
                {{ form_widget(form.termsAgreement) }}
            </div>
            <div class="form-group">
                <button id="registerBtn" class="btn btn-success" type="submit" disabled="disabled">Valider</button>
            </div>
            {{ form_end(form) }}
        </div>
    {% endif %}

    {% if app.request.attributes.get('_route') == 'askNewPswd' %}
        <div class="connectionForms pswdForm" onkeyup="disable('askResetBtn','askResetForm')">
            {{ form_start(form, {'attr': {'id':'askResetForm'} }) }}
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, { 'attr': { 'onkeyup': 'validateMail("ask_reset_email","resetMailError")' } }) }}
                <span class="checked"><i class="fa fa-check"></i></span>
                <span id="resetMailError" class="form-control-feedback noError">Veuillez fournir un e-mail valide</span>
                {{ form_errors(form.email) }}
            </div>
            <div class="form-group">
                <button id="askResetBtn" class="btn btn-success" type="submit" disabled="disabled">Valider</button>
            </div>
            {{ form_end(form) }}
        </div>
    {% endif %}

    {%if app.request.attributes.get('_route') == 'resetPswd' %}
        <div class="connectionForms pswdForm" onkeyup="disable('resetPswdBtn','resetForm')">
            {{ form_start(form, {'attr': {'id':'resetForm'} }) }}
            <div class="form-group">
                {{ form_label(form.pswd) }}<span class="req">*</span>
                {{ form_widget(form.pswd, { 'attr': { 'onkeyup' : 'validatePswd("reset_pswd_pswd",6,30,"resetPswdError")' } }) }}
                <span class="checked"><i class="fa fa-check"></i></span>
                <span id="resetPswdError" class="form-control-feedback noError">Le mot de passe doit contenir entre 6 et 30 caractères</span>
                {{ form_errors(form.pswd) }}
            </div>
            <div class="form-group">
                {{ form_label(form.confirmPswd) }}<span class="req">*</span>
                {{ form_widget(form.confirmPswd, { 'attr': { 'onkeyup' : 'matching("reset_pswd_confirmPswd","reset_pswd_pswd","confirmResetError")' } }) }}
                <span class="checked"><i class="fa fa-check"></i></span>
                <span id="confirmResetError" class="form-control-feedback noError">Les mots de passes ne correspondent pas</span>
                {{ form_errors(form.confirmPswd) }}
            </div>
            <div class="form-group">
                <button id="resetPswdBtn" class="btn btn-success" type="submit" disabled="disabled">Valider</button>
            </div>
            {{ form_end(form) }}
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async defer src="{{ asset('js/validateForm.js') }}"></script>
{% endblock %}

