{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} Bienvenue sur l’application Nos Amis les Oiseaux, le réseau des passionnés d’ornithologie
{% endblock %}

{% block entryMetaDescription %}
    {{ parent() }} Novice ou expert en ornithologie aidez-nous dans notre mission : l’étude de l’impact des activités humaines sur la biodiversité.
{% endblock %}

{% block body %}
    <div class="container-fluid" id="intro">
        <div class="col-md-12 imgText">
            <h1>BIENVENUE SUR NAO</h1>
            <div id="speech">
                <h2>OBSERVER, RECENSER, PROTEGER</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis dictum sapien sed commodo.
                  Cras et tortor id risus ultricies varius. Sed luctus vestibulum lorem, dapibus dignissim massa pharetra a.
                  Praesent vulputate, arcu consequat tristique faucibus, nisi elit malesuada eros, eu blandit eros velit sit
                  amet lorem. Morbi consequat elit erat, accumsan vestibulum felis consequat at. Class aptent taciti sociosqu
                  ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris venenatis enim vel eros aliquet, et egestas nulla tempus.
                  Sed eleifend mollis tortor, et scelerisque metus sagittis id. Donec dignissim ipsum ac velit ornare, tincidunt placerat neque tempor.
                </p>
                <a class="btn btn-default" href="{{ path('addReport') }}">Ajouter une observation</a>
            </div>
        </div>
    </div>


    <div id="event">
        <h2>NAO "MOST WANTED"</h2>
    </div>

    <div class="mostWanted">
        {% for img in homeImg %}
            <div class="img">
                <img src="{{ asset('/naoPictures/'~img) }}">
                <span class ="imgTitle">{{ img|speciesFromFile }}</span>
            </div>
        {% endfor %}
    </div>

    <div id="lastPublished">
        <h2>DERNIERES OBSERVATIONS PUBLIEES</h2>
    </div>

    <div class="cardHolder col-sm-12" id="homeCards">
        {% for report in reports %}
            {{ include('nao/reportCard.html.twig') }}
        {% endfor %}
    </div>

    <div id="seeAll">
        <a class="btn btn-default" href="{{ path('report',{'state' : 'valide'}) }}">Voir toutes les observations</a>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/reportMap.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcUhS0gzRBMh-V_lIwHotjxGbMFQHCczg"
            type="text/javascript"></script>
{% endblock %}


