{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} Bienvenue sur l’application Nos Amis les Oiseaux, leréseau des passionnés d’ornithologie
{% endblock %}

{% block body %}
    <div class="mostWanted">
        {% for img in homeImg %}
            <div class="img">
                <img src="{{ asset('/naoPictures/'~img) }}">
                <span class ="imgTitle">{{ img|speciesFromFile }}</span>
            </div>
        {% endfor %}
    </div>
    <div class="cardHolder">
        {% for report in reports %}
            {{ include('nao/reportCard.html.twig') }}
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/reportMap.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcUhS0gzRBMh-V_lIwHotjxGbMFQHCczg"
            type="text/javascript"></script>
{% endblock %}


