{% extends "base.html.twig" %}

{% block body %}
     <div  id="landingTop">
        <div id="landingIntro">
            <h1 class="pageTitle">L'assitant idéal de vos sorties ornithologiques</h1>
            <p>
                Rejoignez dès maintenant NAO l'application participative à but écologique et aidez-nous dans
                notre mission de recensement des espèces
            </p>
            <ul>
                <li>
                    <i class="fa fa-desktop fa-2x circleIcon" aria-hidden="true"></i>
                    <span class="iconText mobileHidden">Au calme</span>
                </li>
                <li>
                    <i class="fa fa-mobile fa-2x circleIcon" aria-hidden="true"></i>
                    <span class="iconText mobileHidden">Sur le terrain</span>
                </li>
                <li>
                    <i class="fa fa-map-marker fa-2x circleIcon" aria-hidden="true"></i>
                    <span class="iconText mobileHidden">Géolocalisation</span>
                </li>
                <li>
                    <i class="fa fa-camera fa-2x circleIcon" aria-hidden="true"></i>
                    <span class="iconText mobileHidden">Ajout d'images</span>
                </li>
                <li>
                    <i class="fa fa-users fa-2x circleIcon" aria-hidden="true"></i>
                    <span class="iconText mobileHidden">Communautaire</span>
                </li>
            </ul>
        </div>

        <div id="landingForm" onkeyup="disable('landingRegisterBtn','landingForm')">
            {{ form_start(form, {'attr':{'id':'registerLanding'}}) }}
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, { 'attr': { 'onkeyup' : 'validateText("register_name",3,30,"landingNameError")'} }) }}
                <span class="checked"><i class="fa fa-check"></i></span>
                <div id="landingNameError" class="form-control-feedback noError">Le prénom doit contenir 3 lettres minimum</div>
            </div>
            <div class="form-group">
                {{ form_label(form.surname) }}
                {{ form_widget(form.surname, { 'attr': { 'onkeyup' : 'validateText("register_surname",3,30,"landingSurnameError")' } }) }}
                <span class="checked"><i class="fa fa-check"></i></span>
                <div id="landingSurnameError" class="form-control-feedback noError">Le nom doit contenir 3 lettres minimum</div>
            </div>
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email,  { 'attr': {'onkeyup': 'validateMail("register_email","landingEmailError")'} }) }}
                <span class="checked"><i class="fa fa-check"></i></span>
                <div id="landingEmailError" class="form-control-feedback noError">Veuillez fournir un e-mail</div>
            </div>
            <div class="form-group">
                {{ form_label(form.pswd) }}
                {{ form_widget(form.pswd, { 'attr': { 'onkeyup': 'validatePswd("register_pswd",6,30,"landingPswdError")' } }) }}
                <span class="checked"><i class="fa fa-check"></i></span>
                <div id="landingPswdError" class="form-control-feedback noError">Entre 6 et 30 caractères</div>
            </div>
            <div class="form-group">
                {{ form_label(form.accessLevel) }}
                {{ form_widget(form.accessLevel) }}
            </div>
            <div class="form-group" id="landingTerms">
                {{ form_label(form.termsAgreement) }}
                {{ form_widget(form.termsAgreement) }}
            </div>
            <div class="form-group">
                <button id="landingRegisterBtn" class="btn btn-success" type="submit" disabled="disabled">Valider</button>
            </div>
            {{ form_end(form) }}
        </div>
     </div>

     <div id="landingMid">
         <p>
             Recenser, sensibiliser, protéger et simplifer votre passion
         </p>
         <ul>
             <li>
                 <span class="circleData" id="totalSpecies">570</span>
                 <span class="dataText">Espèces d'oiseaux</span>
             </li>
             <li>
                 <span class="circleData" id="speciesUe">58%</span>
                 <span class="dataText"> Des espèces nidifiant en Europe</span>
             </li>
             <li>
                 <span class="circleData" id="speciesThreat">13%</span>
                 <span class="dataText">Menacées de diparition</span>
             </li>
         </ul>
     </div>

    <div id="landingEnd">
        <div id="withOutNao">

            <h2>Votre équipement pour protéger une espèce sans NAO</h2>

            <ul class="list-unstyled">
                <li>
                    <i class="fa fa-binoculars" aria-hidden="true"></i>
                </li>
                <li>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </li>
                <li>
                    <i class="fa fa-book" aria-hidden="true"></i>
                </li>
                <li>
                    <i class="fa fa-compass" aria-hidden="true"></i>
                </li>
                <li>
                    <i class="fa fa-camera-retro" aria-hidden="true"></i>
                </li>
            </ul>

        </div>
        <div id="withNao">

            <h2>Votre équipement pour protéger une espèce avec NAO</h2>
            <span>
                <i class="fa fa-mobile" aria-hidden="true"></i>
            </span>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async defer src="{{ asset('js/validateForm.js') }}"></script>
{% endblock %}


