{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} Bienvenue sur l’application Nos Amis les Oiseaux, leréseau des passionnés d’ornithologie
{% endblock %}


{% block body %}

    <div>
       <h1 class="pageTitle">{{ accountInfo.title }}</h1>
    </div>

    <div class="headBanner">
        <h2>{{ accountInfo.name }} {{ accountInfo.surname }}</h2>
        <span class="accountScore"><i class="material-icons">grade</i>{{ reportInfo.2 }}</span>
        <div>
            <ul class="list-inline">
                {% if app.user.id == app.request.get('id') %}
                <li class="list-inline-item">
                    Adresse email: {{ accountInfo.email }}
                </li>
                {% endif %}
                <li class="list-inline-item">
                    Type de compte: {{ accountInfo.accessLevel|account }}
                </li>
                <li class="list-inline-item">
                    inscript depuis le: {{ accountInfo.creationDate}}
                </li>
            </ul>
        </div>
    {% if app.user.id == app.request.get('id') %}
        <div>
            <button v-on:click="seen = !seen" class="btn btn-outline">Modifier mes informations</button>
        </div>
    {% endif %}
    </div>

    {% if app.user.id == app.request.get('id') %}
    <div class="modalForm" id="pswdModal" v-if="seen">
        <i v-on:click="close" class="material-icons">close</i>
            {{ form_start(accountInfo.updatePswd, {'attr':{'id':'changePswd', 'v-on:submit':'validateChangePswd'}}) }}
            <div class="form-group col-sm-6">
                {{ form_label(accountInfo.updatePswd.currentPswd) }}
                {{ form_widget(accountInfo.updatePswd.currentPswd) }}
            </div>
            <div class="form-group col-sm-6"  v-bind:class="{ 'has-warning': 'submit && missingPswd' }">
                {{ form_label(accountInfo.updatePswd.pswd) }}
                {{ form_widget(accountInfo.updatePswd.pswd, {'attr':{'v-model':'pswd'}}) }}
                <div class="form-control-feedback" v-if="submit && missingPswd">Le mot de passe doit contenir entre 6 et 30 caractères</div>
            </div>
            <div class="form-group  col-sm-6" v-bind:class="{ 'has-feedback has-warning': 'submit && matchLess' }">
                {{ form_label(accountInfo.updatePswd.confirmPswd ) }}
                {{ form_widget(accountInfo.updatePswd.confirmPswd, {'attr':{'v-model':'confirmPswd'}}) }}
                <div class="form-control-feedback" v-if="submit && matchLess">Les mots de passes ne correspondent pas</div>
            </div>
            <div class="form-group col-sm-6">
                <button class="btn btn-success" type="submit">Valider</button>
            </div>
            {{ form_end(accountInfo.updatePswd) }}
    </div>
    {% endif %}

    <div id="charts">
       <div id="chartIcon">
           <i class="fa fa-line-chart" aria-hidden="true"></i>
       </div>
       <div>
           <table class="table .table-responsive">
               <thead>
               <tr>
                   <th>Total d'observations</th>
                   <th>En attente de validation</th>
                   <th>Dernière observation</th>
                   <th>Dernière espèce observée</th>
                   <th>Coordonées</th>
               </tr>
               </thead>
               <tbody>
               <tr>
                   <td>{{ reportInfo.1 }}</td>
                   <td>{{ reportInfo.0 }}</td>
                   <td>{{ lastInfo.0 }}</td>
                   <td>{{ lastInfo.1 }}</td>
                   <td>{{ lastInfo.2 }}</td>
               </tr>
               </tbody>
           </table>
       </div>
    </div>

    <div id="loadReports">
        <button class="btn btn-outline" v-on:click="reportList = !reportList">Toutes mes observations</button>
    </div>

    <div v-if = "reportList" class="cardHolder">
        {% for report in reportList if app.user.id == app.request.get('id') or is_granted('ROLE_ADMIN')  %}
            {{ include('nao/reportCard.html.twig') }}
        {% endfor %}
        {% for report in reportList if report.validated == 1 and app.user.id != app.request.get('id') and not is_granted('ROLE_ADMIN')  %}
            {{ include('nao/reportCard.html.twig') }}
        {% endfor %}
    </div>
    
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vueJs/ux.js') }}"></script>
    <script src="{{ asset('js/reportMap.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcUhS0gzRBMh-V_lIwHotjxGbMFQHCczg"
            type="text/javascript"></script>
{% endblock %}
