{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} Bienvenue sur l’application Nos Amis les Oiseaux, leréseau des passionnés d’ornithologie
{% endblock %}


{% block body %}

    <div>
       <h1 class="pageTitle">{{ accountInfo.title|upper }}</h1>
    </div>

    <div class="headBanner">
        <h2>{{ accountInfo.name }} {{ accountInfo.surname }}</h2>
        <span class="accountScore"><i class="material-icons">grade</i>{{ reportInfo.2 }}</span>
        <div id="profileInfo">
            <ul class="list-unstyled">
                {% if app.user.id == app.request.get('id') %}
                <li>
                    Adresse email: {{ accountInfo.email }}
                </li>
                {% endif %}
                <li>
                    Type de compte: {{ accountInfo.accessLevel|account }}
                </li>
                <li>
                    inscript depuis le: {{ accountInfo.creationDate}}
                </li>
            </ul>
        </div>
    {% if app.user.id == app.request.get('id') %}
        <div id="modifyPswd">
            <button onclick="show('pswdModal')" class="btn btn-outline">Modifier mes informations</button>
        </div>
    {% endif %}
    </div>

    {% if app.user.id == app.request.get('id') %}
    <div class="modalForm" id="pswdModal" onkeyup="disable('chgPswdBtn','changePswd')">
        <i onclick="hide('pswdModal')" class="material-icons">close</i>
            {{ form_start(accountInfo.updatePswd, {'attr':{'id':'changePswd'}}) }}
            <div class="form-group col-sm-6">
                {{ form_label(accountInfo.updatePswd.currentPswd) }}
                {{ form_widget(accountInfo.updatePswd.currentPswd) }}
            </div>
            <div class="form-group col-sm-6">
                {{ form_label(accountInfo.updatePswd.pswd) }}
                {{ form_widget(accountInfo.updatePswd.pswd, {'attr':{'onkeyup':'validatePswd("change_pswd_pswd",6,30,"chgPswdError")'}}) }}
                <div id="chgPswdError" class="form-control-feedback noError">Le mot de passe doit contenir entre 6 et 30 caractères</div>
            </div>
            <div class="form-group  col-sm-6">
                {{ form_label(accountInfo.updatePswd.confirmPswd ) }}
                {{ form_widget(accountInfo.updatePswd.confirmPswd, {'attr':{'onkeyup':'matching("change_pswd_confirmPswd","change_pswd_pswd","chgConfirmError")'}}) }}
                <div id="chgConfirmError" class="form-control-feedback noError">Les mots de passes ne correspondent pas</div>
            </div>
            <div class="form-group col-sm-6">
                <button id="chgPswdBtn" class="btn btn-success" type="submit" disabled="disabled">Valider</button>
            </div>
            {{ form_end(accountInfo.updatePswd) }}
    </div>
    {% endif %}

    <div id="charts">
       <div id="chartIcon">
           <i class="fa fa-line-chart" aria-hidden="true"></i>
       </div>
       <div>
           <table class="table table-bordered table-dark" id="profileTable">
               <thead>
               <tr>
                   <th>Total d'observations</th>
                   <th>En attente de validation</th>
                   <th>Dernière observation</th>
                   <th>Dernière espèce observée</th>
                   <th>Coordonées</th>
               </tr>
               </thead>
               <tbody>
               <tr>
                   <td>{{ reportInfo.1 }}</td>
                   <td>{{ reportInfo.0 }}</td>
                   <td>{{ lastInfo.0 }}</td>
                   <td>{{ lastInfo.1 }}</td>
                   <td>{{ lastInfo.2 }}</td>
               </tr>
               </tbody>
           </table>
       </div>
    </div>

    <div id="loadReports">
        <button class="btn btn-outline" id="loadBtn" onclick="show('userReport')">Toutes mes observations</button>
    </div>

    <div class="cardHolder col-sm-12" id="userReport">
        {% for report in reportList if app.user.id == app.request.get('id') or is_granted('ROLE_ADMIN')  %}
            {{ include('nao/reportCard.html.twig') }}
        {% endfor %}
        {% for report in reportList if report.validated == 1 and app.user.id != app.request.get('id') and not is_granted('ROLE_ADMIN')  %}
            {{ include('nao/reportCard.html.twig') }}
        {% endfor %}
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/reportMap.js') }}"></script>
    <script src="{{ asset('js/validateForm.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcUhS0gzRBMh-V_lIwHotjxGbMFQHCczg"
            type="text/javascript"></script>
{% endblock %}
