<div class="card" style="width: 25%; height: 450px">
    <div class="cardHeader">
        <ul class="list-inline">
            <li class="list-inline-item">
                {{  report.bird.speciesLatin|species }}
            </li>
            <li class="list-inline-item">
                {{  report.addedOn|date('d-m-Y') }}
            </li>
        </ul>
    </div>
    <div class="birdImg">
        <img src="{{ asset('/userImages/'~report.pictRef) }}" alt="observation de {{ report.bird.speciesFr }}"   style="width: 100%"/>
    </div>
    <ul class="list-inline info1">
        <li class="list-inline-item">
            {% if app.request.get('_route') != ('unvalidatedReport') %}
                    <a class="stared" href="{{ path('star', {'reportId': report.id}) }}">
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        {{ report.starNbr }}
                    </a>
            {% endif %}
            {% if app.request.get('_route') == ('unvalidatedReport') %}
                <a href="{{ path('profile', {'name' :report.user.name|specChars,'surname' :report.user.surname|specChars,'id' :report.user.id}) }}">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ report.user.name }} {{ report.user.surname }}
                </a>
            {% endif %}
        </li>
        <li class="list-inline-item pull-right">
            <i class="fa fa-compass" aria-hidden="true"></i>
            {{ report.satNav }}
        </li>
    </ul>
    <ul class="list-inline info2">
        <li class="list-inline-item">
            {% if app.request.get('_route') != ('unvalidatedReport') %}
                <a href="{{ path('profile', {'name' :report.user.name|specChars,'surname' :report.user.surname|specChars,'id' :report.user.id}) }}">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ report.user.name }} {{ report.user.surname }}
                </a>
            {% endif %}
            {% if app.request.get('_route') == ('unvalidatedReport') %}
              Inscrit depuis le: {{ report.user.createdOn|date('d/m/Y') }}
            {% endif %}
        </li>
        <li class="list-inline-item pull-right">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            {{ report.location }}
        </li>
    </ul>
    <div>
        <p class="quantity">Nombre <strong>{{ report.bird.speciesFr|speciesFr|apostrophe }}</strong> lors de l'observervation: {{ report.nbrOfBirds }}</p>
        {% if report.comment != null %}
            <a class="btn btn-outline" href="#">Lire le commentaire</a>
        {% endif %}
        {% if report.comment == null %}
            <p class="noCmtCard">{{ report.user.name }} {{ report.user.surname }} n'a pas laissé de commentaire </p>
        {% endif %}
        {% if app.request.get('_route') == ('unvalidatedReport') %}
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="{{ path('validateReport', {'reportId': report.id}) }}">
                    <i class="material-icons">check</i>
                </a>
            </li>
            <li class="list-inline-item">
                {{ report.validationScore }} / 5
            </li>
        </ul>
        {% endif %}
    </div>
</div>

