<div class="card col-xs-12" id="reportCard{{ loop.index }}">

    {% set mapId = 'reportMap'~loop.index%}
    {% set cmtId = 'cmt'~loop.index %}
    {% set closeBtnId = 'closeBtn'~loop.index %}
    {% set starId     = 'star'~loop.index %}

    <div class="cardHeader">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="{{ path('historic',{'species':report.bird.speciesLatin|species|replaceSpace,'birdId': report.bird.id}) }}" class="historicLink">
                    {{report.bird.speciesLatin|species }}
                </a>
            </li>
            <li class="list-inline-item pull-right">
                {{  report.addedOn|date('d-m-Y') }}
                <i class="mobileInline fa fa-caret-right" aria-hidden="true" id="mobileCardTrigger{{ loop.index }}" onclick="mobileCard('reportCard{{ loop.index }}',this)"></i>
            </li>
        </ul>
    </div>

    <div class="mobileHidden">

        <div class="birdImg">
            {% if report.pictRef != null %}
             <img src="{{ asset('/userImages/'~report.pictRef) }}" id="img{{ loop.index }}" alt="observation de {{ report.bird.speciesFr }}" style="width: 100%" onload="evalSize('img{{ loop.index }}')"/>
            {% endif %}
            {% if report.pictRef == null %}
                <img src="{{ asset('/naoHome.jpg') }}" id="img{{ loop.index }}" alt="observation de {{ report.bird.speciesFr }}" style="width: 100%" onload="evalSize('img{{ loop.index }}')"/>
            {% endif %}
        </div>

        <div>
            <i class="fa fa-times closeMap" id="closeBtn{{ loop.index }}" onclick="hideMap('{{ mapId }}','{{ closeBtnId }}','{{ loop.index }}')"></i>
            <div id="reportMap{{ loop.index }}" class="gMap"></div>
            <input type="hidden" id="reportMapSatNav{{ loop.index }}" value="{{ report.satNav|gps }}">
            <input type="hidden" id="reportQuantity{{ loop.index }}" value="{{ report.nbrOfBirds }}">
        </div>

        <ul class="list-inline info1">
            <li class="list-inline-item">
                {% if report.validated == 1 %}
                    <a id="star{{ loop.index }}" class="stared" href="{{ path('star', {'reportId': report.id}) }}" onclick="addPoint(event,'{{ starId }}')">
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        {{ report.starNbr }}
                    </a>
                {% endif %}
                {% if report.validated == 0 %}
                    <a href="{{ path('profile', {'name' :report.user.name|specChars,'surname' :report.user.surname|specChars,'id' :report.user.id}) }}">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        {{ report.user.name }} {{ report.user.surname }}
                    </a>
                {% endif %}
            </li>
            <li class="list-inline-item pull-right {{ report.satNav|length > 25 ? 'shrink' }}">
                <i class="fa fa-compass interactive" onclick="showMap('{{ mapId }}','{{ closeBtnId }}',{{ loop.index }})" aria-hidden="true"></i>
                {{ report.satNav|gps|slice(0,30) }}
            </li>
        </ul>

        <ul class="list-inline info2">
            <li class="list-inline-item">
                {% if report.validated == 1 %}
                    <a href="{{ path('profile', {'name' :report.user.name|specChars,'surname' :report.user.surname|specChars,'id' :report.user.id}) }}">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        {{ report.user.name }} {{ report.user.surname }}
                    </a>
                {% endif %}
                {% if report.validated == 0 %}
                   <i class="fa fa-calendar"></i>
                    {{ report.user.createdOn|date('d-m-Y') }}
                {% endif %}
            </li>
            <li class="list-inline-item pull-right">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                {{ report.location }}
            </li>
        </ul>

        <div class="cardFooter col-sm-12">

            {% if report.comment != null and report.validated == 1 %}
            <button class="btn btn-outline validated" onclick="show('{{ cmtId }}')">Lire le commentaire</button>
            <div class="cardCmt" id="{{ cmtId }}">
                <i class="fa fa-times" onclick="hide('{{ cmtId }}')"></i>
                <p class="reportCmt">
                    {{ report.comment }}
                </p>
            </div>
            {% endif %}

            {% if report.comment == null and  report.validated == 1 %}
                <p class="noCmtCard">{{ report.user.name }} {{ report.user.surname }} n'a pas laissé de commentaire </p>
            {% endif %}

            {% if report.comment == null and report.validated == 0 %}
                <div class="reportValidation">
                    <a class="btn btn-outline" id="validate{{ loop.index }}" href="{{ path('validateReport', {'reportId': report.id}) }}" onclick="addPoint(event,'validate{{ loop.index }}')">
                        {{ report.validationScore }} / 5
                    </a>
                </div>
            {% endif %}

            {% if report.comment != null and report.validated == 0 %}
                <div class="reportValidationCmt">
                    <a class="btn btn-outline" id="validate{{ loop.index }}" href="{{ path('validateReport', {'reportId': report.id}) }}" onclick="addPoint(event,'validate{{ loop.index }}')">
                        {{ report.validationScore }} / 5
                    </a>
                    <button class="btn btn-outline" onclick="show('{{ cmtId }}')">Lire le commentaire</button>
                </div>

                <div class="cardCmt" id="{{ cmtId }}">
                    <i onclick="hide('{{ cmtId }}')" class="material-icons">close</i>
                    <p class="reportCmt">
                        {{ report.comment }}
                    </p>
                </div>
            {% endif %}
        </div>

    </div>
</div>
{% block javascripts %}
    <script src="{{ asset('js/starOrValidateReport.js') }}"></script>
    <script src="{{ asset('js/imgSize.js') }}"></script>
    <script src="{{ asset('js/displayMap.js') }}"></script>
{% endblock %}



