<div class="card" style="width: 25%; height: 450px">
    <div class="cardHeader">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="{{ path('historic',{'species':report.bird.speciesLatin|species|replaceSpace,'birdId': report.bird.id}) }}" class="historicLink">
                    {{report.bird.speciesLatin|species }}
                </a>
            </li>
            <li class="list-inline-item pull-right">
                {{  report.addedOn|date('d-m-Y') }}
            </li>
        </ul>
    </div>

    <div class="birdImg">
        <img src="{{ asset('/userImages/'~report.pictRef) }}" alt="observation de {{ report.bird.speciesFr }}"   style="width: 100%"/>
    </div>

    <div>
        <div id="reportMap{{ loop.index }}" class="gMap" v-show="map == {{ loop.index }}">
        </div>
        <input type="hidden" id="reportMapSatNav{{ loop.index }}" value="{{ report.satNav }}">
    </div>

    <ul class="list-inline info1">
        <li class="list-inline-item">
            {% if report.validated == 1 %}
                    <a class="stared" href="{{ path('star', {'reportId': report.id}) }}">
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        {{ report.starNbr }}
                    </a>
            {% endif %}
            {% if report.validated == 0 %}
                <a href="{{ path('profile', {'name' :report.user.name|specChars,'surname' :report.user.surname|specChars,'id' :report.user.id}) }}">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ report.user.name }} {{ report.user.surname }}
                </a>
            {% endif %}
        </li>
        <li class="list-inline-item pull-right">
                <i class="fa fa-compass" onmouseover="initMap({{ loop.index }})" v-on:mouseover="showMap({{ loop.index }})" aria-hidden="true"></i>
                {{ report.satNav }}
        </li>
    </ul>
    <ul class="list-inline info2">
        <li class="list-inline-item">
            {% if report.validated == 1 %}
                <a href="{{ path('profile', {'name' :report.user.name|specChars,'surname' :report.user.surname|specChars,'id' :report.user.id}) }}">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ report.user.name }} {{ report.user.surname }}
                </a>
            {% endif %}
            {% if report.validated == 0 %}
              Inscrit depuis le: {{ report.user.createdOn|date('d/m/Y') }}
            {% endif %}
        </li>
        <li class="list-inline-item pull-right">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            {{ report.location }}
        </li>
    </ul>
    <div class="cardFooter">
        <p class="quantity">Nombre <strong>{{ report.bird.speciesFr|speciesFr|apostrophe }}</strong> lors de l'observervation: {{ report.nbrOfBirds }}</p>
        {% if report.comment != null %}
            <button class="btn btn-outline" v-on:click="cmt = true">Lire le commentaire</button>
            <div class="cardCmt" v-if="cmt">
                <i v-on:click="cmt = false" class="material-icons">close</i>
                <p class="reportCmt">
                    {{ report.comment }}
                </p>
            </div>
        {% endif %}
        {% if report.comment == null %}
            <p class="noCmtCard">{{ report.user.name }} {{ report.user.surname }} n'a pas laissé de commentaire </p>
        {% endif %}
        {% if report.validated == 0 %}
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="{{ path('validateReport', {'reportId': report.id}) }}">
                    <i class="material-icons">check</i>
                </a>
            </li>
            <li class="list-inline-item">
                {{ report.validationScore }} / 5
            </li>
        </ul>
        {% endif %}
    </div>
</div>



