{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Bienvenue sur l’application Nos Amis les Oiseaux, leréseau des passionnés d’ornithologie
{% endblock %}

{% block body %}

    <div>
        <h1 class="pageTitle">RESULTAT DE VOTRE RECHERCHE POUR : "<span>{{ userSearch|upper }}</span>"</h1>
    </div>

    <div id="searchResults">
        <ul class="col-lg-6">
            {% for bird in results %}
                <li>
                    <a href="{{ path('historic',{'species':bird.speciesLatin|species|replaceSpace,'birdId': bird.id}) }}" class="historicLink">
                        {{ bird.speciesLatin|species }} - {{ bird.speciesFr|speciesFr }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

